*, ::before,::after{
    box-sizing: border-box;

}
.hcontainer{
    /* max-width: 1140px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* font-family: 'Raleway', sans-serif; */
    font-family: var(--bs-font-sans-serif);  
}
.hrow{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-right: 12px;
    padding-left: 12px;
}

.hrow img{
    width: 100vw;
    height: auto;
    /* margin-top: 20px; */
}
.img-fluid{
    max-width: 100%;
}
.text-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    text-decoration: none;
}
.pr{
    padding-right: 30px;
    
}
#hhero-banner{
    width: 100%;
    /* height: 80vh; */
    padding: 50px;
    /* margin-top: 100px; */
    /* margin-bottom: 50px; */
}
#hhero-banner h1{
    font-size: 3vw;
    font-weight: bolder;
    line-height: 50px;
    margin: 5vw 0 10px 0;
    color: #03a4ed;
    /* margin-bottom: 1%; */
}


#hhero-banner h1 span{
    color: #f13f47;
}

#hhero-banner p{
    font-size: 24px;
    font-weight: 500;
    /* margin: 10px 0 50px 0; */
    color: #858ea1;
    margin-bottom: 30px;
}

#hhero-banner .button-wrapper{
    display: flex;
    align-items: center;
}

#hhero-banner .btn-get-started{
    font-size: 16px;
    display: inline-block;
    letter-spacing: 1px;
    background-color:rgb(241 63 71);
    border: 1px solid rgb(241 63 71);
    color: #fff;
    padding: 10px 30px 12px 30px;
    border-radius: 30px;
    box-shadow: 0 8px 28px rgba(195, 0, 91, 0.6);
    transition: all 0.3s ease-in-out;
}

#hhero-banner .btn-get-started:hover{
    background-color: #206bfb;
    /* color: rgb(238, 39, 129); */
    border: 1px solid #206bfb;
    box-shadow: 0 8px 28px rgba(0, 185, 195, 0.6);
    transform: scale3d(1.03,1.03,1.03);

}

#hhero-banner .btn-play-store{
    margin-left: 25px;
    font-size: 16px;
    color: #fff;
    padding: 10px 30px 12px 30px;
    display: inline-flex;
    align-items: center;
    background-color: black;
    padding-left: 10px;
    border-radius: 30px;
    box-shadow: 0 8px 28px rgba(23, 23, 23, 0.6);
    transition: all 0.3s ease-in-out;

    /* letter-spacing: 1px;
    border: 1px solid #206bfb;
    color: #206bfb;
    border-radius: 4px;
    box-shadow: 0 8px 28px rgba(0, 185, 195, 0.6); */
}

#hhero-banner .btn-play-store img{
    width: 25px;
    padding-right: 5px;
}
#hhero-banner .btn-play-store i{
    font-size: 45px;
    padding-right: 20px;
}
.pr{
    padding-right: 0px;
    
}
#hhero-banner .btn-play-store:hover{
    background-color: rgb(57, 57, 57);
    transform: scale3d(1.03,1.03,1.03);
    box-shadow: 0 8px 28px rgba(56, 56, 56, 0.6);
    /* color: #13aaf0dd; */
}
#hhero-banner .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@media(max-width:768px){
    .hcontainer{
        max-width: 100%;
    }
    .hrow{
        flex-direction: column-reverse;
    }
    #hhero-banner .img-fluid{
        margin-top: 50px ;
    
    }
    #hhero-banner .animated{
        animation: none;
    }
    #hhero-banner{
        padding-top: 100px;
        margin-bottom: 50px;
        /* padding-bottom: 50px; */
    }
    #hhero-banner h1{
       margin-top: 20px;
       font-size: 8vw;
    }
    #hhero-banner h2{
        font-size: 20px;
    }
    #hero-banner .button-wrapper{
        flex-direction: column;
    }
    #hhero-banner .btn-play-store{
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        /* padding-left: 15px; */
    }
    .our-services{
        /* padding-top: 50px;
        padding-bottom: 50px; */
        position: relative;
        margin-top: 150px;
    }
}