*, ::before,::after{
    box-sizing: border-box;

}
.hcontainer{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Raleway', sans-serif;
    
}
.hrow{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-right: 12px;
    padding-left: 12px;
    
}
.hrow img{
    width: 100vw;
    height: auto;
    /* margin-top: 20px; */
}
.img-fluid{
    max-width: 100%;
}
.text-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    text-decoration: none;
}
.pr{
    padding-right: 30px;
    
}
#hero-banner{
    width: 100%;
    height: 80vh;
    padding: 50px;
}
#hero-banner h1{
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
    margin: 0 0 10px 0;
    color: #3e4450;
}

#hero-banner h1 span{
    font-weight: 700;
}

#hero-banner h2{
    font-size: 24px;
    font-weight: 500;
    margin: 10 0 50px 0;
    color: #858ea1;
    padding-bottom: 30px;
}

#hero-banner .button-wrapper{
    display: flex;
    align-items: center;
}

#hero-banner .btn-get-started{
    font-size: 16px;
    display: inline-block;
    letter-spacing: 1px;
    background-color:rgb(241 63 71);
    border: 1px solid rgb(241 63 71);
    color: #fff;
    padding: 10px 30px 12px 30px;
    border-radius: 4px;
    box-shadow: 0 8px 28px rgba(195, 0, 91, 0.6);
    transition: all 0.5s ease-in-out;
}

#hero-banner .btn-get-started:hover{
    background-color: #206bfb;
    /* color: rgb(238, 39, 129); */
    border: 1px solid #206bfb;
    box-shadow: 0 8px 28px rgba(0, 185, 195, 0.6);
}

#hero-banner .btn-play-store{
    margin-left: 25px;
    font-size: 16px;
    color: #04a6f7;
    padding: 8px 20px 8px 20px;
    display: inline-flex;
    align-items: center;
    transition: all 0.25s ease-in-out;
    
    
    /* letter-spacing: 1px;
    border: 1px solid #206bfb;
     color: #206bfb;
    border-radius: 4px;
    box-shadow: 0 8px 28px rgba(0, 185, 195, 0.6); */
}

#hero-banner .btn-play-store i{
    font-size: 45px;
    padding-right: 10px;
}

#hero-banner .btn-play-store:hover{
    color: #62c1eedd;
    /* color: #13aaf0dd; */
}
#hero-banner .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@media(max-width:768px){
    .hcontainer{
        max-width: 100%;
    }
    .hrow{
        flex-direction: column-reverse;
    }
    #hero-banner .animated{
        animation: none;
    }
    #hero-banner{
        padding-top: 30px;
    }
    #hero-banner h1{
       margin-top: 20px;
    }
    #hero-banner h2{
        font-size: 20px;
    }
    #hero-banner .button-wrapper{
        flex-direction: column;
    }
    #hero-banner .btn-play-store{
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}